*,
*::before,
*::after {
	box-sizing: border-box;

	margin: 0;
	padding: 0;
	border: 0;
}
ul,
ol,
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	display: block;
	max-width: 100%;
	// vertical-align: top;
}
// html { font-size: 16px; }
html {
	height: 100%;
	scroll-behavior: smooth;
}
body {
	min-height: 100%;
	min-width: 320px;
	line-height: 1;
}

// a { color: inherit; }
button {
	background-color: inherit;
	cursor: pointer;
}

input,
textarea,
select,
button {
	font: inherit;
}

// :focus, :active{outline: none;}
// a:focus, a:active{outline: none;}

blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
