@use "sass:math";

@function betterClamp($minSize, $maxSize, $minWidth, $maxWidth) {
	// convert to rem
	$minSize: math.div($minSize, 16);
	$maxSize: math.div($maxSize, 16);
	$minWidth: math.div($minWidth, 16);
	$maxWidth: math.div($maxWidth, 16);

	// do calculations
	$slope: math.div(($maxSize - $minSize), ($maxWidth - $minWidth));
	$yAxisIntersection: -$minWidth * $slope + $minSize;

	// output as rem
	$minSize: $minSize * 1rem;
	$maxSize: $maxSize * 1rem;

	@return clamp(#{$minSize}, #{$yAxisIntersection * 1rem} + #{$slope * 100vw}, #{$maxSize});
}
@function betterProp($minSize, $maxSize, $minWidth, $maxWidth) {
	// convert to rem
	$minSize: math.div($minSize, 16);
	$maxSize: math.div($maxSize, 16);
	$minWidth: math.div($minWidth, 16);
	$maxWidth: math.div($maxWidth, 16);

	// do calculations
	$delta: $maxSize - $minSize;

	@return calc(#{$minSize * 1rem} + #{$delta} * ((100vw - #{$minWidth * 1rem}) / (#{$maxWidth} - #{$minWidth})));
}

@function pct($px-1, $px-2) {
	$result: math.div($px-1, $px-2) * 100%;
	@return $result;
}
@function rem($px) {
	$result: math.div($px, 16) + rem;
	@return $result;
}
@function em($px, $current: 16) {
	$result: math.div($px, $current) + em;
	@return $result;
}
