@use "sass:math";
// calc(10px + (40 - 10) * ((100vw - 320px) / (1440 - 320)))

@mixin font-face($fontFamily, $path, $fontWeight, $fontStyle) {
	@font-face {
		font-family: "#{$fontFamily}";
		src: url("#{$path}.woff2") format("woff2"), url("#{$path}.woff") format("woff");
		font-weight: $fontWeight;
		font-style: $fontStyle;
		font-display: swap;
	}
}

@mixin ibg($fit: cover, $position: center) {
	position: relative;
	// padding-bottom: value%;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: $fit;
		object-position: $position;
	}
}
@mixin sbg($fit: cover, $position: center) {
	position: relative;
	// padding-bottom: value%;
	svg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: $fit;
		object-position: $position;
	}
}
