@font-face {
  font-family: "Inter";
  src: url("Inter-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

ul,
ol,
li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  display: block;
  max-width: 100%;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  min-width: 320px;
  line-height: 1;
}

button {
  background-color: inherit;
  cursor: pointer;
}

input,
textarea,
select,
button {
  font: inherit;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --color-background: #553e3c;
  --color-background-app: #262626;
  --color-accent: #377bfd;
  --color-primary: #ffffff;
  --color-border: #333333;
  --color-border-2: #404040;
  --color-secondary: #333333;
  --box-shadow: rgb(26 26 26 / 0.5);
  --border-radius-primary: 1.25rem;
  --border-radius-secondary: 0.3125rem;
}

body {
  font-family: "Inter", "SF Pro Text", sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 150%;
  color: var(--color-primary);
  background-color: var(--color-background);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.todo-app {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
}
.todo-app__container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 37.5rem;
  margin-inline: auto;
}
.todo-app__body {
  height: 43.75rem;
  padding-block: 2.5rem;
  padding-inline: 3.75rem;
  background-color: var(--color-background-app);
  border-radius: var(--border-radius-primary);
  border: 2px solid var(--color-border);
  box-shadow: 0px 0.5rem 1.5rem 0px var(--box-shadow);
}
.todo-app__title {
  font-size: 1.5rem;
  text-align: center;
}
.todo-app__title:not(:last-child) {
  margin-bottom: 1.875rem;
}
.todo-app__form {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.todo-app__form:not(:last-child) {
  margin-bottom: 1.875rem;
}
.todo-app__input {
  flex-grow: 1;
  color: var(--color-primary);
  border-radius: var(--border-radius-secondary);
  border: 2px solid var(--color-border-2);
  background-color: var(--color-border);
  padding-inline: 1rem;
  padding-block: 0.625rem;
}
.todo-app__button-add-task {
  color: var(--color-primary);
  background-color: var(--color-accent);
  border-radius: var(--border-radius-secondary);
  padding-inline: 1rem;
  padding-block: 0.625rem;
}
.todo-app__buttons-bar {
  display: flex;
  justify-content: space-between;
  column-gap: 7.25rem;
}
.todo-app__buttons-bar:not(:last-child) {
  margin-bottom: 1.875rem;
}
.todo-app__buttons {
  display: flex;
  column-gap: 2.5rem;
}
.todo-app__button-all, .todo-app__button-active, .todo-app__button-completed {
  color: inherit;
}
.todo-app__button-all {
  text-decoration: underline;
}
.task {
  display: flex;
  padding-inline: 0.75rem;
  padding-block: 0.625rem;
  background-color: var(--color-accent);
  border-radius: var(--border-radius-secondary);
}
.task__text {
  flex-grow: 1;
}
.task__buttons {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.task__button-edit {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.task__button-delete {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
